<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Ensures the webpage is responsive and sets the viewport to match the device's width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Search Results</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Search Results</h2>
    <p>Below are the {{ results|length }} possible word combinations for the Wordle</p>
    
    <!-- Jinja2 template tag to loop through the results list passed from the Flask application -->
     <!-- Jinja uses to contain dynamic values -->
        {% for result in results %}
           {{loop.index}}. {{ result }}<br>
        {% endfor %}
    <br/><br/>
        <a href="/">Back to Search</a>
</body>
</html>